* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Override MUI styles for the dark theme */
.MuiInputBase-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
}

.MuiButtonBase-root.MuiButton-containedPrimary {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}